<div class="login-container">
  <img src="home.png" alt="task-img" class="image" />
  <form class="login-form">
    <h2>Sign UP</h2>
    <input type="text" />
    <input type="text" />
    <div class="login-checkbox-wrapper">
      <input type="checkbox" />
      <p>Lembrar de Mim</p>
    </div>
    <button type="submit">Register</button>
    <h3 style="text-align: center">or login with</h3>
    <div class="alternative-loginbtn-wrapper">
      <button class="alternative-loginbtn">Google</button>
      <button class="alternative-loginbtn">Facebook</button>
    </div>
  </form>
</div>
