@use "../../../../app/assets/styles/mixins" as *;
@use "../../../../app/assets/styles/variables" as *;


.home-container {
    display: flex;
    height: 90vh;
    background-color: #dbdbdb;
    box-shadow: $box-shadow;
    border-radius: $cardborder-radius;

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4rem .5rem;
        background-color: #fff;
        border-radius: $cardborder-radius;
        box-shadow: $box-shadow;

            img {
                width: 6rem;
            }

            i {
                font-size: 32px;
                color: #ff6f00;
            }
       
        .aside-icons {
           @include flex-center;
           flex-direction: column;
           gap: 1.5rem;
        }
    }
}