<div class="home-container">
    <aside>
        <img src="assets/images/dailyDailiesLogo.png" alt="logo-img">
        <div class="aside-icons">
            <a routerLink="/home"><i class="fa-solid fa-chart-pie"></i></a>
            <a routerLink="/dailies"><i class="fa-regular fa-clipboard"></i></a>
            <a routerLink="/calendar"><i class="fa-regular fa-calendar"></i></a>
            <a routerLink="/notifications"><i class="fa-regular fa-bell"></i></a>
            <a routerLink="/faq"><i class="fa-regular fa-circle-question"></i></a>
            <a routerLink="/profile"><i class="fa-regular fa-circle-user"></i></a>
        </div>
        <div class="aside-icons">
            <a routerLink="/settings"><i class="fa-solid fa-gear"></i></a>
            <a routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i></a>
        </div>
    </aside>
</div>