<div class="home-container">
    <aside>
        <img src="assets/images/dailyDailiesLogo.png" alt="logo-img">
        <div class="aside-icons">
            <i class="fa-solid fa-chart-pie"></i>
            <i class="fa-regular fa-clipboard"></i>
            <i class="fa-regular fa-bell"></i>
            <i class="fa-regular fa-circle-question"></i>
            <i class="fa-regular fa-circle-user"></i>
        </div>
        <div class="aside-icons">
            <i class="fa-solid fa-gear"></i>
            <i class="fa-solid fa-right-to-bracket"></i>
        </div>
    </aside>
</div>