*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}   

body {
    height: 100vh;
    padding: 2rem;
    background-color: #dbdbdb;
  }

a {
    text-decoration: none;
    color: #000;
}
  